.text-primary {
  color: var(--primary) !important;
}

.text-secondary {
  color: var(--secondary) !important;
}

.text-secondary:hover {
  color: var(--primary) !important;
}

.shadow-hover:hover {
  box-shadow: var(--shadow-md);
}

.navbar-toggler:focus {
  outline: 0;
  box-shadow: none;
}
